.modalWrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s opacity;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.modal {
  width: 95%;
  padding: 35px;
  background-color: #f8f8f8;
  max-height: 80vh;
  overflow-x: hidden;
}
